.full{
	position: relative;
	padding: 10px;
	width: 100%;
	min-height: 100%;
}
.left{
	width: 10%;
	height: 100%;
	position: relative;
	float: left;
}
.right{
	width: 90%;
	height: 100%;
	position: relative;
	float: right;;
}
.modules{
	height: 100%;
}
.module{
	height: 50px;
	padding: 10px;
}
table{
	border: 1;
}
td,th{
	padding: 5px;
}
#leadForm{
	padding: 10px;
}
#formelement{
	padding : 5px;
}
